

.content {
  width: 50%;
  margin: auto;
  font-family: Cousine;
  font-size: 16px;
}

span.faint-char {
  display: inline;
  color: #BBB;
}

span.hl-char {
  display: inline;
  color: #F33;
}

span.base-char-class {
  display: inline;
  margin-left: 1px;
}


span.out-of-line {
  color: #F33;
  position: absolute;
  border: solid black;
}

span.active-char {
  background-color: cyan;
}
